<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Transactions</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0.39</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>srv-tpgen-nor.ltx-credence.com</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>server</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Service Server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>csmobile</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>appname</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Service App</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>AllCharacters</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>A-SAN-JOSE</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>warehouseid</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Default Warehouse</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Print Server</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>DefaultValue</key>
			<string>\\miprint\CP03CA</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Key</key>
			<string>printer</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>AllCharacters</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>50</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>maxrows</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Max Row</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Background Job (10-60 seconds)</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>30</integer>
			<key>Key</key>
			<string>bgtimerseconds</string>
			<key>MaximumValue</key>
			<integer>60</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>User Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Title</key>
			<string>Last Login</string>
			<key>Key</key>
			<string>lastlogin</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>isremember</string>
			<key>Title</key>
			<string>Remember User ID</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Utility</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>AllCharacters</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>srv-rptprod-nor.ltx-credence.com</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>reportserverurl</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Report Server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
